
main{
    margin-top: 285px;
    text-align: center;
}
h1 {
    color:rgba(31, 117, 117, 0.432);
    font-size: 125px;
}
h2 {
    color: #46484c;
}

b {
    color: #8b8b8bcc;
}

button {
    color: #fff;
    background-color: #025157;
}

body {
    background-color: #fffbf7;
    /*background-image:url('') ;*/
}

.header {
    padding: 20px;
    margin: 40px 20px 0px 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
  }
.fixed-header{
    position: fixed;
    background-color: #fffbf7;
    top: 0;
    left: 0;
    right: 0;
}
li{
      display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}

/*
.navbar{
    width: 100%;
    text-align: center;
    color: #025157;
}
*/
.actions{
    margin-left: 10px;
    margin-right: 10px;
}

.actions > a{
    color: #67b54b;
}
.actions > button{
    color: rgb(255, 255, 255);
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    border: 0;
}

.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

article{
    margin-bottom: 15%;
}

.articulo > article > h3{
    font-family: "Alegreya",serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.articulo > article > p{
    font-size: 16;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.video{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.video > img{
    width: 120px;
    margin-top: 10px;
}


.creciendo{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #a1d683;
}

.CreciendoMatcha{
    flex-direction: column;
    margin-right: 15%;
}

.overview h2{
    display: flex;
    flex-direction: column;
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}
.overview p{
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.overview button{
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}

figure img{
    width: 500px;
    max-width: 100%;    
    vertical-align: middle;
    border-style: none; 
}

.card {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.card-body{
    padding: 25px;
}
.card-body h4{
    font-family: "Slabo 27px", serif;
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}
.caso-estudio{
    background-color: #025157;
    color: #fff;
    border: none;
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
}

.card img{
    max-width: 100%;

}

.results img{
    width: 26px;
    margin-right: 20px;
}
.results{
    display: flex;
    align-items: center;
    color: #828282;
}
/*cartas*/

.features{
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    padding: 5% 10%;
    background-color: #025157;
}

.feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.feature-content > *{
    margin-bottom: 1rem;
    margin-top: 0;
}

.feature-content img{
    width: 50px;
}

.feature-content h3{
    font-family: "Alegreya", serif;
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.feature-content p{
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.feature-content a{
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.feature-image figure{
    margin-top: 0;
    height: 100%;
    margin: 0 0 5rem;
}

.feature-image{
    flex: 1;
    width: 50%;
    position: relative;
    right: -50px;
    height: 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feature-image img{
    vertical-align: middle;
    border-style: none;
}

/*Como funciona*/

.how-does-it-work {
    font-family: "Open Sans", sans-serif;
    padding: 5% 10%;
    text-align: center;
    display: block;
    background-color: #fffbf7;
    text-align: center;
   
}
  
.how-does-it-work h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #025157;
    
}
  
  
.how-does-it-work p {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: black;
    line-height: 30px;
}
  
.how-does-it-work a {
    font-size: 15px;
    color: green;
    font-weight: 600;
}
  
.how-does-it-work h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    text-align: center;
}
  
  .how-does-it-work button {
    font-size: 25px;
    padding: 15px;
    border-radius: 8px;
    font-weight: 150;
    margin-left: 100px;
}
  
   
.title {
    margin-top: 0;
    
}
   
.card-step-body p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(151, 151, 151);
    
}


  
  
.how-does-it-work .steps  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 90px;
}  
  
.card-step{
    margin-right: 20px;
    margin-left: 20px;
    border: 3px solid lightgray;
    border-radius: 5px;
    padding: 25px;
}
  
  
.how-does-it-work .steps .card-step .card-step-image {
    position: relative;
   
}
  
.card-step-icon {
    position: absolute;
    width: 30px;
    margin-top: 25px;
    left: 25px;
}
  
.how-does-it-work .steps .card-step .card-step-image .card-step-bg {
    width: 100%;
    height: 100%;
}



/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    .navbar, .actions{
        display: none;
    }
    /*
    .header{
        display: none;
    }
    */
    .Titulo h1{
        font-size: 60px;
    }

    .header a img{
        width: 300%;
    }

    .banner > img{
        width: 100%;
    }

    .publish{
        display: flex;
        flex-direction: column;
        max-width: 70%;
        
    }

    .promo{
        flex-direction: column;
        max-width: 90%;
    }
    .video{
        width: 100%;
    }

    .publish{
        margin-top: 10px;
    }

    .publish > h3{
        font-size: 25px;
    }

    /*Tarjetas*/

    .features{
        grid-template: repeat(1, 330px) / repeat(1, 1fr);
    }
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}
