h1 {
    color:rgba(31, 117, 117, 0.432);
    font-size: 125px;
}
h2 {
    color: #46484c;
}

b {
    color: #8b8b8bcc;
}

button {
    color: #fff;
    background-color: #025157;
}

body {
    background-color: #c47d36;
    /*background-image:url('') ;*/
}

.header {
    padding: 20px;
    margin: 40px 20px 0px 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
  }

li{
      display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}


.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
}

.actions{
    margin-left: 10px;
    margin-right: 10px;
}

.actions > a{
    color: #67b54b;
}
.actions > button{
    color: rgb(255, 255, 255);
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    border: 0;
}