main{
    margin-top: 285px;
    text-align: center;
}
h1 {
    color:rgba(31, 117, 117, 0.432);
    font-size: 125px;
}
h2 {
    color: #46484c;
}

b {
    color: #8b8b8bcc;
}

button {
    color: #fff;
    background-color: #025157;
}

body {
    background-color: #fffbf7;
    /*background-image:url('') ;*/
}

.header {
    padding: 20px;
    margin: 40px 20px 0px 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
  }
.fixed-header{
    position: fixed;
    background-color: #fffbf7;
    top: 0;
    left: 0;
    right: 0;
}
li{
      display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}


.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
}

.actions{
    margin-left: 10px;
    margin-right: 10px;
}

.actions > a{
    color: #67b54b;
}
.actions > button{
    color: rgb(255, 255, 255);
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    border: 0;
}

.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

article{
    margin-bottom: 15%;
}

.articulo > article > h3{
    font-family: "Alegreya",serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.articulo > article > p{
    font-size: 16;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.video{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.video > img{
    width: 120px;
    margin-top: 10px;
}


.creciendo{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #a1d683;
}

.CreciendoMatcha{
    flex-direction: column;
    margin-right: 15%;
}

.overview h2{
    display: flex;
    flex-direction: column;
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}
.overview p{
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.overview button{
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}

figure img{
    width: 500px;
    max-width: 100%;    
    vertical-align: middle;
    border-style: none; 
}

.card {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.card-body{
    padding: 25px;
}
.card-body h4{
    font-family: "Slabo 27px", serif;
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}
.caso-estudio{
    background-color: #025157;
    color: #fff;
    border: none;
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
}

.card img{
    max-width: 100%;

}

.results img{
    width: 26px;
    margin-right: 20px;
}
.results{
    display: flex;
    align-items: center;
    color: #828282;
}