/** colores */
$pepe-color:gold;
$pepe-hover: green;
$fondo: #310658;
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;

$font-title: "Alegreya", serif;
/*font-family: 'Open Sans', sans-serif; */




